

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .logo {
    height: 40px; /* Ajusta el tamaño según sea necesario */
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
  }
  
  .header-button {
    background: none;
    border: none;
    color: black;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .header-button:hover {
    text-decoration: underline;
    transform: translateY(-1px);
    background-color: #d5d8db;
  }
  
  .separator {
    margin: 0 10px;
    color: black;
  }
  
.header-bottom .search-bar {
  padding: 5px;
  font-size: 16px;
  border: 1px solid #555; /* Cambiamos el color del borde a gris oscuro */
  border-radius: 20px; /* Añadimos bordes redondeados */
  flex-grow: 1;
  max-width: 300px;
  padding-left: 10px; /* Añadimos un pequeño espacio a la izquierda para el texto */
}

/* Placeholder estilo */
.header-bottom .search-bar::placeholder {
  color: #555; /* Cambiamos el color del placeholder a gris más claro */
}
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Añade espacio entre los botones */
  }
  
  .nav-button {
    background: none;
    border: none;
    color: white;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    text-decoration: underline;
    transform: translateY(-1px);
    background-color: #2e2e2e;
  }
  
  .nav-button .fas {
    font-size: 20px;
  }