body {
  
}

.header {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
  }
  
  .header-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: white;
    color: black;
    padding: 10px;
    padding-left: 40px;
    padding-right: 40px;
    font-family: 'Josefin Sans', sans-serif!important;
  }
  
  .header-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: black;
    color: white;
    padding-left: 40px;
    padding-right: 40px;
  }
  
  .logo {
    height: 40px; /* Ajusta el tamaño según sea necesario */
  }
  
  .header-buttons {
    display: flex;
    align-items: center;
  }
  
  .header-button {
    background: none;
    border: none;
    color: black!important;
    font-size: 16px;
    cursor: pointer;
    padding: 10px 20px;
    transition: background-color 0.3s ease;
  }
  
  .header-button:hover {
    text-decoration: underline;
    transform: translateY(-1px);
    background-color: #d5d8db;
  }
  
  .separator {
    margin: 0 10px;
    color: black;
  }
  
  .search-bar {
    background-color: white;
    border-radius: 20px;
    margin: 5px 50px 5px!important; /* Margen superior e inferior */
  }
  
  .search-bar .MuiOutlinedInput-root {
    background-color: white;
    border-radius: 20px;
  }
  
  .search-bar .MuiOutlinedInput-notchedOutline {
    border-color: #555; /* Color del borde */
    border-width: 1px; /* Ancho del borde */
    border-radius: 20px;
  }
  
  .search-bar .MuiOutlinedInput-root:hover .MuiOutlinedInput-notchedOutline {
    border-color: #555; /* Mantener el color del borde al pasar el ratón */
  }
  
  .search-bar .MuiOutlinedInput-root.Mui-focused .MuiOutlinedInput-notchedOutline {
    border-color: #555; /* Mantener el color del borde al enfocar */
  }

/* Placeholder estilo */
.header-bottom .search-bar::placeholder {
  color: #555; /* Cambiamos el color del placeholder a gris más claro */
}
  
  .nav-right {
    display: flex;
    align-items: center;
    gap: 10px; /* Añade espacio entre los botones */
  }
  
  .nav-button {
    background: none;
    border: none;
    color: white!important;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  .nav-button:hover {
    text-decoration: underline;
    transform: translateY(-1px);
    background-color: #2e2e2e;
  }
  
  .nav-button .fas {
    font-size: 20px;
  }